@page "/AttendeeNotice/20231209"
    <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>.NET Conf 2023 Taiwan 12/09-12/10 行前通知</h2>
                    <h4>.NET Conf 2023 Taiwan 12/09-12/10 Attendee Notice</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>
                        非常感謝您報名 2023 年 12 月 9 日（六） -  10 日（日）由 STUDY4 與 Build School 聯合舉辦的 .NET Conf 2023 Taiwan 活動。
                    </p>
                    <p>活動當天於上午 09:00 開放報到，報到時請出示您的報到 QRcode 以便服務人員為您辦理報到。<span style="color:red">活動報名踴躍，敬請提早報到參加活動</span>，謝謝！</p>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> <strong>活動日期</strong>：12 月 9 日（六） 09:00 ~ 17:20、12 月 10 日（日） 09:00 ~ 16:20</li>
                            <li><span class="icon_check"></span> <strong>報到時間</strong>：09:00 ~ 09:30</li>
                            <li><span class="icon_check"></span> <strong>報到地點</strong>：台大社科院</li>
                            <li><span class="icon_check"></span> <strong>交通資訊</strong>：<a href="https://ir.ncu.edu.tw/images/%E8%87%BA%E5%A4%A7%E7%A4%BE%E6%9C%83%E7%A7%91%E5%AD%B8%E9%99%A2%E5%A4%A7%E6%A8%93%E7%9A%84%E4%BA%A4%E9%80%9A%E8%B3%87%E8%A8%8A.pdf">連結</a></li>
                            <li>
                                <span class="icon_check"></span> <strong>特別提醒</strong>：<br />
                                <ul style="padding-left:30px">
                                    <li><span class="arrow_right"></span> 本次活動地點僅提供茶點與零食，中午不提供午餐。活動地點鄰近商圈，用餐便利。</li>
                                    <li><span class="arrow_right"></span> 因本次研討會採取分堂而且教室座位有限，<span style="color:red">課程採取先入場先參加方式。</span></li>
                                    <li><span class="arrow_right"></span> 請踴躍的與講師、社群夥伴和與會者交流，您會得到更多意想不到的收穫。</li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p>
                        <div class="cs-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6906275685947!2d121.5592580153788!3d25.04457104402076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abbf139899e7%3A0x137e82fedcfa1839!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A6I-45bug6LevODjomZ82!5e0!3m2!1szh-TW!2stw!4v1604433506462!5m2!1szh-TW!2stw" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </p>
                    <br />
                    <br />
                    <h3>注意事項</h3>
                    <p>
                        <ul>

                            <li><span class="icon_check"></span> 主辦單位保留議程以及主講人之變更權利。</li>
                            <li><span class="icon_check"></span> 本活動若適逢天災等不可抗拒之因素（依人事行政局停止上班之公告而定），將延期舉辦時間另行通知。</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

@code {

}
