@page "/COVID-19"
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>防疫守則</h2>
                    <h4>Guidelines for Prevention and Protection of COVID-19</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>因應 COVID-19 疫情，.NET Conf 參考中央流行疫情指揮中心的防疫措施，發布大會實體活動防疫守則。請您與我們一同遵守，保護自己與他人的健康。</p>
                    <p>防疫守則將視疫情發展與中央疫情疫情指揮中心指示有所變動，所有更動將不另通知，請在會前持續回來關心。</p>
                    <p>提醒您，進入本活動場地大樓須填寫紙本訪客健康聲明書，為節省您填寫表格及等候時間，<span style="color:red">建議您先行下載並雙面列印出聲明書表單</span>（請<a href="/StaticFiles/臺北文創-訪客健康聲明書.pdf" target="_blank">點擊下載聲明書</a>並參考填寫範本），預先填寫並於活動當天直接繳交櫃台人員，即可直接搭乘電梯前往 6 樓會場。</p>
                        <h4>防疫要點</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> 配合防疫措施：「保持社交距離（室內 1.5 公尺、室外 1 公尺），無法維持社交距離時，應戴口罩」，參與者進入會場，應全程配戴口罩。</li>
                            <li><span class="icon_check"></span> 各議程廳採人數總量管制，會議室將有工作人員管控會議室內部人數，請聽從工作人員指示，若會議室已達人數上限請勿進入。</li>
                            <li><span class="icon_check"></span> 若有身體不適或具感染風險（居家隔離、居家檢疫、自主健康管理）等情形者，請在家裡好好休息，勿前往 .NET Conf 活動會場。</li>
                        </ul>
                    </p>
                    <h4>參與者防疫準備</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> 填寫健康聲明書。</li>
                            <li><span class="icon_check"></span> 須攜帶口罩：進入會場應戴口罩，可以隨身多備 1~2 枚口罩。</li>
                            <li><span class="icon_check"></span> 勤洗手，可搭配酒精消毒手部與座位。</li>
                            <li><span class="icon_check"></span> 議程移動時，請大眾自行消毒桌面。</li>
                        </ul>
                    </p>
                    <h4>大會防疫準備</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> 大會於議程開始前，工作人員進行議程空間消毒。</li>
                            <li><span class="icon_check"></span> 大會服務處將備有額溫槍/耳溫槍，若有身體不適者，可前往服務台量測。</li>
                            <li><span class="icon_check"></span> 大會報到處與服務台備有消毒用酒精，如有需要，可自行取用。</li>
                        </ul>
                    </p>
                    <h4>隱私聲明</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> 大會配合防疫期間所蒐集的資料，將在資料蒐集日起 28 天後刪除。</li>
                            <li><span class="icon_check"></span> 參與者進出各館與各廳紀錄將作為疫情管控使用，若會後有任何疑似感染情況，大會將主動通知可能被影響的群眾，且得提供衛生主管機關依傳染病防治法等規定進行疫情調查及聯繫使用。</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>.NET Conf will follow the guidelines of prevention and control of COVID-19 issued by Central Epidemic Command Center (CECC). Please follow the instructions carefully to protect yourself and others.</p>
                    <p>Following the instructions by the CECC, the modification might be made at anytime without notice, please come back to this page for regular update.</p>
                    <h4>Prevention and Protection Strategy</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> According to the CECC, a social distance of 1.5 meters(indoor) and 1 meter(outdoor) shall be maintained, and people are urged to wear facemasks in crowded and cofined spaces. Every participant shall keep their facemask on during our events.</li>
                            <li><span class="icon_check"></span> The number of people is limited in every room. There will be staff monitoring the number of people in rooms. Please follow the instructions of our staff and not to enter if the room has reached its maximum allowance.</li>
                            <li><span class="icon_check"></span> If you don't feel well or under home isolation, quarantine or self-health management, please stay at home and have a good rest.</li>
                        </ul>
                    </p>
                    <h4>For Participants</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> Fill out the Personal Health Declaration Form.</li>
                            <li><span class="icon_check"></span> Wear facemasks: Please keep your facemasks on during our events. Bringing more than one facemask is highly recommended.</li>
                            <li><span class="icon_check"></span> Wash your hands frequently and spray 75 percent alcohol disinfectant to clean your hands and seats.</li>
                            <li><span class="icon_check"></span> When you move to other spaces, please clean the desk before use.</li>
                        </ul>
                    </p>
                    <h4>For .NET Conf 2020</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> .NET Conf will use a diluted bleach solution to clean and disinfect all the venues and equipments.</li>
                            <li><span class="icon_check"></span> Ear thermometers will be prepared at the information desk in TR Building. If you don't feel well, please go to check your body temperature.</li>
                            <li><span class="icon_check"></span> 75 percent alcohol disinfectants are available on the registration desk and the information desk.</li>
                        </ul>
                    </p>
                    <h4>Personal Data Protection Declaration</h4>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> All the collected data are used to prevent COVID-19 and will be deleted after 28 days.</li>
                            <li><span class="icon_check"></span> The records of entering the buildings and session rooms are solely used in response to the pandemic. .NET Conf will contact participants of a close or proximate contact of a confirmed or suspected case and provide the records for the local government and CECC of Taiwan.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

@code {

}
