<span>
    @if (isNotActivate)
    {
        <a href="#" target="_blank" class="primary-btn top-btn"><i class="fa fa-ticket"></i> Comming Soon</a>
    }
    else if (new DateTime(2023, 12, 15).CompareTo(DateTime.Now) > 0)
    {
        <a href="https://study4-tw.kktix.cc/events/netconf2023" target="_blank" class="primary-btn top-btn"><i class="fa fa-ticket"></i> 報名參加</a>
    }
    else
    {
        <a href="https://hackmd.io/@@Study4/dotnetconf-2023" target="_blank" class="primary-btn top-btn"><i class="fa fa-pencil-square-o"></i> 大會共筆</a>
    }
</span>

@code {
    private bool isNotActivate = true;
}
