<div class="tab-pane active" id="tabs-2">
    <div class="schedule-table-content">
        <h2>12/18 社群技術議程</h2>
        <h4>臺北文創大樓</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>D 廳</strong>
                        <span>6 樓</span>
                    </th>
                    <th>
                        <strong>E 廳</strong>
                        <span>6 樓</span>
                    </th>
                    <th>
                        <strong>F 廳</strong>
                        <span>6 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">09:00-09:40</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:40-10:00</td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="hover-bg">
                        <h5>Opening</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">10:00 - 10:50</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Kuro">
                            <h5>小孩才做選擇，前端御三家我全都要 - 從 vite 開始的微前端實驗</h5>
                            <p><span>By</span> Kuro Hsu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#WillHuang">
                            <h5>ASP.NET Core 6.0 全新功能探索</h5>
                            <p><span>By</span> Will 保哥</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#KOKO">
                            <h5>Introduction to MLOps in Azure Machine Learning with Live Demo</h5>
                            <p><span>By</span> Ko Ko</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">11:00 - 11:50</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#AlanTsai">
                            <h5>初探 Azure Communication Service - 讓 Application 也有視訊、通話、即時聊天、簡訊和電話功能</h5>
                            <p><span>By</span> Alan Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#BruceChen">
                            <h5>ASP.NET Core API 6 就。很。Minimal。</h5>
                            <p><span>By</span> Bruce Chen</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Marcus">
                            <h5>初探 OpenTelemetry - 蒐集遙測數據的新標準</h5>
                            <p><span>By</span> Marcus</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:50 - 13:10</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <p>交流 & 午餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:10 - 14:00</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#RuddyLee">
                            <h5>十倍速開發效能的 DX 開發者體驗設計</h5>
                            <p><span>By</span> Ruddy Lee</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#JamesTsai">
                            <h5>探索 .NET Multi-platform App UI (.NET MAUI) 與前世轉生</h5>
                            <p><span>By</span> James Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#EdwardKuo">
                            <h5>善用 Azure Monitor 服務打造 DevOps 監控一環</h5>
                            <p><span>By</span> Edward Kuo</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">14:10 - 15:00</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#AndrewWu">
                            <h5>微服務資料管理的天堂路 - CQRS / Event Sourcing 的應用與實踐</h5>
                            <p><span>By</span> Andrew Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#GelisWu">
                            <h5>.NET 6 的 Blazor 開發新視界</h5>
                            <p><span>By</span> Gelis Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#CarlYang">
                            <h5>如何保護你的 Azure APIs</h5>
                            <p><span>By</span> Carl Yang</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">15:00 - 15:30</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <p>
                            交流
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30 - 16:20</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#YinSangzhi">
                            <h5>深度學習的健達出奇蛋：要更小、更快，還得要更準</h5>
                            <p><span>By</span> 尹相志</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#JimmyHo">
                            <h5>Blazor 與 Radzen 同行</h5>
                            <p><span>By</span> Jimmy Ho</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#ZhanYixuan">
                            <h5>從黑暗時代到現代化的雲端維運與監控</h5>
                            <p><span>By</span> 詹益軒</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">16:30 - 17:20</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#DavidTung">
                            <h5>高重用性的軟體開發實踐</h5>
                            <p><span>By</span> David Tung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#KevinYang">
                            <h5>F# & SAFE Stack 函數式開發典範</h5>
                            <p><span>By</span> Kevin Yang</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#BaoChengyou">
                            <h5>元宇宙開發秘訣大公開</h5>
                            <p><span>By</span> 鮑承佑</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="4" rowspan="1">
                        <p>
                            感謝參與 .NET Conf 2022
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
