<div class="tab-pane active" id="tabs-1">
    <div class="schedule-table-content">
        @*<h2>12/17 Enterprise Day (Hands-on-Lab)</h2>
        <h4>臺北文創大樓</h4>
        <br />*@
        <table>
            <thead>
                <tr>
                    <th class="track-left" colspan="2">
                        <strong>A 廳</strong>
                        <span>Live</span>
                    </th>
                    <th class="track-right" colspan="2">
                        <strong>B 廳</strong>
                        <span>Video</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time track-left">09:20-09:50</td>
                    <td class="hover-bg track-left">
                        <h5>Opening</h5>
                        <p><span>By</span> 台灣微軟客戶成功事業群副總經理 張書源</p>
                    </td>
                    <td class="break hover-bg track-right" colspan="2"></td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">10:00 - 10:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#BruceChen">
                            <h5>K8s地端平台架設大補帖：minikube、MicroK8s、Kubernetes全攻略</h5>
                            <p><span>By</span> Bruce Chen</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#KevinYang">
                            <h5>Rate limiting with net core 7</h5>
                            <p><span>By</span> Kevin Yang</p>
                        </a>
                    </td>
                    <td class="event-time track-right">10:00 - 10:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#DuranHhsieh">
                            <h5>WatchDog: An open-source, lightweight, real-time logger for ASP.NET</h5>
                            <p><span>By</span> Duran Hsieh</p>
                        </a>
                    </td>
                    <td class="event-time track-right">10:30 - 11:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">11:00 - 11:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#AndrewWu">
                            <h5>API First - 從理想的 API Spec 設計開始</h5>
                            <p><span>By</span> Andrew Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#BaoChengyou">
                            <h5>ASP .NET Core 7家族新成員也是老戰友: Microsoft Orleans v7 介紹</h5>
                            <p><span>By</span> 鮑承佑</p>
                        </a>
                    </td>
                    <td class="event-time track-right">11:00 - 11:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#PoyChang">
                            <h5>又小又快值得期待的 NativeAOT</h5>
                            <p><span>By</span> Poy Chang</p>
                        </a>
                    </td>
                    <td class="event-time track-right">11:30 - 12:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">12:00 - 12:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#EvanceKao">
                            <h5>更好的開發體驗 - 建造 SDK 接上 API 的腿</h5>
                            <p><span>By</span> Evance Kao</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#EdwardKuo">
                            <h5>SQL Server 的資料版本</h5>
                            <p><span>By</span> James Fu</p>
                        </a>
                    </td>
                    <td class="event-time track-right">12:00 - 12:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#JimmyHo">
                            <h5>一次搞懂 Blazor CSS 眉腳</h5>
                            <p><span>By</span> Jimmy Ho</p>
                        </a>
                    </td>
                    <td class="event-time track-right">12:30 - 13:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">13:00 - 13:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#AlanTsai">
                            <h5> Event Driven Architecture 之前，是不是該把 Event 規格搞定？ CloudEvents 是什麼？ | 邁上 Cloud Native App 之路</h5>
                            <p><span>By</span> Alan Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#ChrisLiu">
                            <h5>Azure Container Apps</h5>
                            <p><span>By</span> Chris Liu</p>
                        </a>
                    </td>
                    <td class="event-time track-right">13:00 - 13:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#KyleShen">
                            <h5>那些年用 Azure Boards 交付過的產品</h5>
                            <p><span>By</span> Kyle Shen</p>
                        </a>
                    </td>
                    <td class="event-time track-right">13:30 - 14:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">14:00 - 14:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#YinSangzhi">
                            <h5>運用 ONNX 建構高效的 AIOT 邊緣計算應用</h5>
                            <p><span>By</span> 尹相志</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#KoKo">
                            <h5>用 Azure Machine Learning 來做 AI 繪圖</h5>
                            <p><span>By</span> KoKo</p>
                        </a>
                    </td>
                    <td class="event-time track-right">14:00 - 14:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#GelisWu ">
                            <h5>.NET 7 升級教戰手冊</h5>
                            <p><span>By</span> Gelis Wu</p>
                        </a>
                    </td>
                    <td class="event-time track-right">14:30 - 15:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">15:00 - 15:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#WillHuang">
                            <h5>ASP.NET Core 7 全新功能探索</h5>
                            <p><span>By</span> Will 保哥</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#MikeHuang">
                            <h5>Tauri - 前端人員也能打造小巧快速的 Windows 應用程式</h5>
                            <p><span>By</span> Mike Huang</p>
                        </a>
                    </td>
                    <td class="event-time track-right">15:00 - 15:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#Marcus">
                            <h5>再不使用 APM 就芭比Q 了</h5>
                            <p><span>By</span> Marcus</p>
                        </a>
                    </td>
                    <td class="event-time track-right">15:30 - 16:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="2">16:00 - 16:50</td>
                    <td class="break hover-bg track-left" rowspan="2">
                        <a href="./Speaker#David">
                            <h5>董事長群星論壇</h5>
                            <p><span>By</span> David + Edward</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#JianHui">
                            <h5>用 .NET 啟動你的無人機</h5>
                            <p><span>By</span> 盧建暉</p>
                        </a>
                    </td>
                    <td class="event-time track-right">16:00 - 16:30</td>
                </tr>
                <tr>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#ZhanYixuan">
                            <h5>邁向元宇宙部署模式</h5>
                            <p><span>By</span> 詹益軒</p>
                        </a>
                    </td>
                    <td class="event-time track-right">16:30 - 17:00</td>
                </tr>
                <tr>
                    <td class="event-time track-left" rowspan="1">17:00 - 17:30</td>
                    <td class="break hover-bg track-left" rowspan="1">
                        <a href="./Speaker#David">
                            <h5>線上抽獎</h5>
                            <p><span>By</span> Duran Hsieh</p>
                        </a>
                    </td>
                    <td class="break hover-bg track-right">
                        <a href="./Speaker#HughHuang">
                            <h5>程式碼債台高築了嗎?快使用SonarQube做一波負債整合</h5>
                            <p><span>By</span> Hugh Huang</p>
                        </a>
                    </td>
                    <td class="event-time track-right">17:00 - 17:30</td>
                </tr>
                <tr>
                    <td class="hover-bg track-left" colspan="4" rowspan="1">
                        <p>
                            感謝參與 .NET Conf 2022
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
