<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>活動地點</h2>
                    <h3>臺北文創大樓</h3>
                    <span>臺北市信義區菸廠路 88 號 6 樓</span>
                </div>
                <div class="cs-text">
                    <div class="ct-address">
                        <p><strong>自行開車前往</strong></p>
                        <span>車輛請由「菸廠路」駛入(位於光復南路與市民大道交叉口)，忠孝東路 553 巷無法通往菸廠路。</span>
                        <br />
                        <p><strong>捷運路線</strong></p>
                        <span>1. 國父紀念館站 5 號出口，自光復南路右轉菸廠路，步行約 500M</span><br />
                        <span>2. 市府捷運站 1 號出口，步行約 400M</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cs-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6906275685947!2d121.5592580153788!3d25.04457104402076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abbf139899e7%3A0x137e82fedcfa1839!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A6I-45bug6LevODjomZ82!5e0!3m2!1szh-TW!2stw!4v1604433506462!5m2!1szh-TW!2stw" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

@code {

}
