<!-- COVID-19 Section Begin -->
<section class="home-about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="./img/face-mask.svg" width="500" alt="">
                <div class="ha-pic"></div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>COVID-19</h2>
                    <p>因應 COVID-19 疫情，.NET Conf 參考中央流行疫情指揮中心的防疫措施，發布大會實體活動防疫守則。請您與我們一同遵守，保護自己與他人的健康。</p>
                    <p>為提升活動場地的安全標準，必符合室內空間至少 1.5 公尺/人 (2.25 平方公尺/人) 的防疫措施，本活動搭配臺北文創大樓加強防疫措施，場域將定期安排專業廠商針對文創辦公室、大樓公共區域及地下室停車場進行全面消毒，各出、入口，架設紅外線體溫監測儀、備置消毒自動感應機，車道派專人量測額溫，並配置紫外線抑菌艙(通道式)、防疫機器人等防疫措施。</p>
                    <h3>防疫須知</h3>
                    <p>防疫需要你我一起共同守護，請您配合以下事項</p>
                    <ul>
                        <li><span class="icon_check"></span> 配合實聯制</li>
                        <li><span class="icon_check"></span> 全程配戴口罩</li>
                        <li><span class="icon_check"></span> 有事沒事勤洗手</li>
                        <li><span class="icon_check"></span> 進教室前酒精噴手</li>
                        <li><span class="icon_check"></span> 維持社交距離</li>
                        <li><span class="icon_check"></span> 拱手不握手</li>
                    </ul>
                    <p>若有相關疑問，可撥打「疾病管制署 防疫專線1922」或 <a href="https://www.cdc.gov.tw/" class="ha-btn">疾病管制署網站</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COVID-19 Section End -->

@code {

}
